* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 


 html {
    scroll-behavior: smooth;
    line-height: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
 }

input {
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}


.flex {
    display: flex;
}

.white {
    color: white;
}

.red {
    color: red;
}

.bgr-f0 {
    background-color: #f0f0f0;
}


.sub-header {
    display: flex;
    /* justify-content: space-around; */
}

.sub-header img {
    margin: 15px 30px 25px;
    max-width: 197px;
    
}

#header {
    /* height: 46px; */
    background-color: black;
    /* position: fixed; */  
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
}


.giohang {
    position: relative;
    cursor: pointer;
    left: 150px;
    top: 30px;
}

.input input {
    padding: 15px;
    padding-right: 300px;
    outline: none;
}   

.menu {
    background-color: #f0f0f0;
}

#nav > li > a {
    color: black;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    background-color: #ccc;
}

#nav {
    display: block;
    text-align: center;
    background-color: #f0f0f0;
}

#nav img {
    width: 229px;
    display: block;
    float: left;
    z-index: 1;
}

#nav > li {
    display: inline-block;
}

.giohang a img {
    filter: invert(100%);
}


::placeholder {
    font-size: 16px;
}

.input {
    margin-top: 26px;
}

.cart {
    margin-top: 10px;
    margin-left: 50px;
    height: 34px;
    color: white;
    padding: 6px;
    border: solid white 1px;
    border-radius: 10%;
    opacity: 100%;
}

.cart:hover {
    cursor: pointer;
}

.cart .ti-shopping-cart {
    color: white;
    font-size: 30px;
}



.toggle {
    position: relative;
    display: none;
    background-color: rgb(32, 31, 31) ;
    color: #fff;
    text-align: right;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.head i {
    position: absolute;
    right: 10px;
}

/* content */

.content {
    margin-top: 20px;
}

.up-down {
    padding: 5px;
    width: 50px;
    outline: none;
    margin-left: 45px;
}

.img-buy {
    margin-left: 50%;
    height: 150px;
}

.gia {
    margin-left: 45px;
    margin-top: 5px;
}

.info-content {
    width: 50%;
    margin-left: 30%;
    margin-top: 20px;
}


/* footer */

.footer {
    background-color: white;
    display: flex;  
    padding-bottom: 50px;
}

.footer .footer-1 {
    width: 250px;
    margin: 0 50px;
    margin-top: 50px;
}

.footer .footer-1 a {
    text-decoration: none;
    color: black;
}

.footer .footer-1 a:hover {
    color: #ed1c24;
    transition: .3s ease-out;
}

.footer-plus {
    background-color: #f0f0f0;
    text-align: center;
    padding: 30px 150px;
}

.footer-plus p {
    line-height: 1.4rem;
    padding: 10px 0;
}

.bct {
    text-align: center;
}

.bct img{
    vertical-align: middle;
    padding: 0 5px;
}

@media screen and (max-width: 1023px) {
    .main-menu {
        flex-direction: column;
        display: none;  
    }
    .toggle {
        display: block;
    }

}   


